<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.223" targetFramework="net472" />
  <package id="FlyleafLib" version="3.0.0" targetFramework="net472" />
  <package id="FFmpeg.AutoGen" version="4.4.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="NAudio" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.0.0" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="WpfColorFontDialog" version="1.0.8" targetFramework="net472" />
</packages>